body {
    background: white;
}

.about {
    margin-bottom: 100px
}

.page-title {
    border-top: 6px solid  rgba(2, 102, 102, 1);
    margin-top: 30px;
    margin-bottom: 60px;
    position: relative;
}
.page-title::after {
    content: "";
    position: absolute;
    top: -6px;
    bottom: 30px;
    right: 100px;
    width: 30px;
    background: linear-gradient(to right, rgba(113, 176, 45, 0.6), rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6), rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6), rgba(113, 176, 45, 0), rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6), rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6), rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6), rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6),rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6),rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6))
}
.page-title p {
    font-size: 100px;
    font-weight: 600;
    background: linear-gradient(rgba(2, 102, 102, 1), rgba(2, 102, 102, 1));
    padding: 20px 0;
}

.about img {
    box-shadow: 0px 0px 7px black;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
}
.about p {
    text-align: justify;
}
.about p strong {
    font-weight: bold;
}

.about ul li strong {
    position: relative;
    font-weight: bold;
    padding-left: 10px;
    opacity: 1;
    line-height: 1.25rem;
}
.about ul li strong::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #7CB342;
    border-radius: 50%;
    top: calc(50% - 2.5px);
    left: 0;
}

/* screen 768 */
@media (min-width: 768px) and (max-width: 1023px){
    .page-title::after {
        right: 40px;
    }
    .page-title p {
        font-size: 80px;
    }

}