* {
    font-family: Helvetica, sans-serif;
}
body {
    position: relative;
}
.menu-screen-container {
    padding: 30px 0;
    box-shadow: 0px 4px 0px #d2d2d2;
    /* border-bottom: 2px solid #424242; */
}
.menu-screen ul {
    margin: 0;
    padding: 0;
    line-height: 14px;
}

.menu-screen li {
    margin: 0;
    padding: 0;
}

.menu-screen {
    position: relative;
}
.menu-screen div {
    display: inline-block;
    vertical-align: bottom;
}

.menu-screen ul li {
    display: inline;
}
.menu-screen div a {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
}
.menu-screen img {
    height: 38;
    width: 200px;
}
.menu-screen div:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
}

.landing-container {
    position: relative;
    margin: 0;
    padding: 0;
    border-top: 2px solid rgb(2, 54, 54);
}
.landing-container::before {
    content: "";
    background: linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),  rgba(2, 102, 102, 0),  rgba(2, 102, 102, 0.02),  rgba(2, 102, 102, 0),  rgba(2, 102, 102, 0.55), rgba(0, 96, 100, 0.97));
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.landing-container::after {
    content: "";
    position: absolute;
    top: 0px;
    height: 100px;
    right: 50px;
    width: 30px;
    background: linear-gradient(to right, rgba(113, 176, 45, 0.6), rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6), rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6), rgba(113, 176, 45, 0), rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6), rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6), rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6), rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6),rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6),rgba(113, 176, 45, 0), rgba(113, 176, 45, 0.6));
    z-index: 3;
}
.landing-container .img-back{
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: center;
}
.landing-container .my-container {
    position: absolute;
    top: 0;
    left: 30%;
    right: 20px;
    bottom: 0;
    max-width: 1024px;
    margin: 0;
    padding: 0;
    z-index: 2;
}
.landing {
    position: relative;
    width: 100%;
}
.landing li {
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 56px;
    text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5)
}
.landing ul {
    margin-bottom: 30px;
}
.landing .timer .timer-cont {
    line-height: 0;
    padding: 40px;
    position: relative;
    margin: 0;
}
.landing .timer .timer-cont::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80px;
    left: calc(50% - 40px);
    border-radius: 50%;
    border: 3px solid white;
}
.landing .timer .timer-cont.days::after {
    border-bottom-color: rgb(2, 180, 180);
    border-right-color: rgb(2, 180, 180);
    border-top-color: rgb(2, 180, 180);
}
.landing .timer .timer-cont.hours::after {
    border-bottom-color: rgb(2, 180, 180);
    border-right-color: rgb(2, 180, 180);
    border-top-color: rgb(2, 180, 180);
    transform: rotate(-80deg);
}
.landing .timer .timer-cont.minutes::after {
    border-bottom-color: rgb(2, 180, 180);
    border-right-color: rgb(2, 180, 180);
    border-top-color: rgb(2, 180, 180);
    transform: rotate(-120deg);
}
.landing .timer span{
    font-weight: bold;
}
.landing .timer p{
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
}
.landing .timer .timer-col {
    display: inline-block;
    padding-left: 100px;
}
.event-title {
    padding: 30px 0px 70px;
}
.event-title img {
    height: 70px;
}
.event-title div {
    display: inline-block;
    vertical-align: middle;
}
.event-title ul {
    padding: 0px;
    margin: 0px;
    line-height: 24px;
    position: relative;
    padding-left: 11px;
    margin-left: 10px;
}
.event-title ul::before {
    content: '';
    position: absolute;
    background-color: white;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 1px;
    z-index: 2;
}
.event-title li {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}
.welcome-section {
    position: relative;
    margin: 100px 0;
    padding: 0;
}
.welcome-section .title{
    position: absolute;
    display: inline;
    left: 0;
    right: 0;
    top: -11px;
    text-align: center;
}
.welcome-section .title div {
    position: relative;
    display: inline-block;
    background-color: white;
}
.welcome-section .title h1 {
    font-weight: 600;
    font-size: 100px;
    letter-spacing: 5px;
    line-height: 70px;
    padding: 0px 40px;
    margin: 0;
    
}
.welcome .description {
    padding: 10px 0px 100px;
}
.welcome .description p {
    font-size: 20px;
}

.workshop {
    position: relative;
    margin-bottom: 100px
}
.workshop img {
    width: 90%;
    height: 200px;
    margin: auto;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 4px 14px black;
    z-index: 2;
}

.workshop p {
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    right: 0;
    display: inline-block;
    font-size: 18px;
    padding: 7px 0px 0px;
    z-index: -1;
    font-weight: 600
}

.workshop span {
    padding: 5px 21px;
}

.speakers-section {
    position: relative;
    margin: 100px 0;
    padding: 0;
}
.speakers-section .title{
    position: absolute;
    display: inline;
    left: 0;
    right: 0;
    top: 0px;
    text-align: center;
}
.speakers-section .title div {
    position: relative;
    display: inline-block;
    background-color: white;
}
.speakers-section .title h1 {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 40px;
    padding: 0px 40px;
    margin: 0;
    
}
.speakers {
    margin-bottom: 20px;
}

.speakers .title p{
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 2px;
}
.speakers .title {
    padding: 40px 0px 50px;
}

.speakers .speaker {
    width: 70%;
    margin: auto
}
.speakers .speaker img {
    box-shadow: 0px 10px 5px rgba(0,0,0,0.1);
    margin: auto;
    margin-bottom: 10px;
    height: 300px;
    object-fit: cover;
    object-position: top center;
}
.register {
    padding: 60px 0 30px;
}
.register .container .btn {
    border-radius: 0;
    box-shadow: 1px 10px 14px rgba(0,0,0,0.5);
}
.register .container p:first-child {
    font-size: 65px;
    margin: 0;
    padding: 10px;
}

.footer {
    position: relative;
    padding: 40px 0px 20px;
}
#goTopBtn {
    position: absolute;
    display: inline;
    padding: 7px 10px;
    line-height: 0;
    letter-spacing: 0;
    margin: 0;
    top:-14px;
    left: calc(50% - 20px);
    transform: rotate(45deg);
}
#goTopBtn i {
    padding: 0;
    margin: 0;
}
.separator-margin{
    height: 100px;
}
hr {
    padding: 0;
    margin: 0;
    margin-bottom: 1px;
}


hr.alt {
    margin-bottom: 0px;
}

.my-text-green {
    color: rgb(2, 102, 102);
    border-color: rgb(2, 102, 102)
}
a.my-text-green:hover {
    color: rgb(0, 96, 100);
}
a.my-text-green:active {
    color: rgb(0, 96, 100);
}
.my-text-light-green {
    color: rgba(113, 176, 45, 1);
    border-color: rgba(113, 176, 45, 1);
}
a.my-text-light-green:hover {
    color: rgb(94, 145, 50);
}
a.my-text-light-green:active {
    color: rgb(94, 145, 50);
}


.my-bg-green {
    background-color: rgb(2, 102, 102);
    border-color: rgb(2, 102, 102)
}
a.my-bg-green:hover {
    background-color: rgb(0, 96, 100);
}
a.my-bg-green:active {
    background-color: rgb(0, 96, 100);
}
.my-text-blue {
    color: rgb(19, 117, 156);
    border-color: rgb(19, 117, 156);
}
a.my-text-blue:hover {
    color: rgb(12, 75, 100);
}
a.my-text-blue:active {
    color: rgb(12, 75, 100);
}
.my-bg-light-green {
    background-color: rgba(113, 176, 45, 1);
    border-color: rgba(113, 176, 45, 1);
}
a.my-bg-light-green:hover {
    background-color: rgb(94, 145, 50);
}
a.my-bg-light-green:active {
    background-color: rgb(94, 145, 50);
}



/* screen 768 */
@media (min-width: 768px) and (max-width: 1023px){
    .menu-screen img {
        height: 19px;
        width: 100px;
    }
    .landing-container .img-back{
        height: 500px;
    }
    .landing li {
        font-size: 34px;
    }
    .landing .timer .timer-col {
        padding-left: 50px;
    }
    .landing .timer .timer-cont::after {
        width: 60px;
        left: calc(50% - 30px);
    }
    .landing .timer .timer-cont {
        padding: 30px;
    }
    .event-title img {
        height: 50px;
    }
    .event-title {
        padding: 20px 0px 50px;
    }
    .workshop img {
        width: 100%;
    }
    .workshop p {
        font-size: 13px;
    }
    .speakers .speaker {
        width: 100%;
    }
    .register .container p:first-child {
        font-size: 45px;
    }
}