* {
    font-family: Helvetica, sans-serif;
}
body {
    position: relative;
}
.menu-screen-container {
    padding: 30px 0;
    box-shadow: 0px 4px 0px #d2d2d2;
    /* border-bottom: 2px solid #424242; */
}
.menu-screen ul {
    margin: 0;
    padding: 0;
    line-height: 14px;
}

.menu-screen li {
    margin: 0;
    padding: 0;
}

.menu-screen {
    position: relative;
}
.menu-screen div {
    display: inline-block;
    vertical-align: bottom;
}

.menu-screen ul li {
    display: inline;
}
.menu-screen div a {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
}
.menu-screen div:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
}

.landing-container {
    background: linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),  rgba(2, 102, 102, 0.5),  rgba(2, 102, 102, 0.5),  rgba(2, 102, 102, 1),  rgba(2, 102, 102, 1), rgba(0, 96, 100, 1)), url(/assets/img/hotel-side_orig.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.landing {
    padding: 100px 0px 200px;
}
.landing li {
    font-size: 56px;
    text-shadow: 0px 2px 7px rgba(0, 0, 0, 1)
}
.event-title {
    padding: 10px 0
}
.event-title div {
    display: inline-block;
    vertical-align: middle;
}
.event-title ul {
    padding: 0px;
    margin: 0px;
    line-height: 24px;
    position: relative;
    padding-left: 11px;
    margin-left: 10px;
}
.event-title ul::before {
    content: '';
    position: absolute;
    background-color: white;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 1px;
    z-index: 2;
}
.event-title li {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}
.welcome-section {
    position: relative;
    margin: 100px 0;
    padding: 0;
}
.welcome-section .title{
    position: absolute;
    display: inline;
    left: 0;
    right: 0;
    top: -11px;
    text-align: center;
}
.welcome-section .title div {
    position: relative;
    display: inline-block;
    background-color: white;
}
.welcome-section .title h1 {
    font-weight: 400;
    font-size: 100px;
    letter-spacing: 5px;
    line-height: 70px;
    padding: 0px 40px;
    margin: 0;
    
}
.welcome .description {
    padding: 10px 0px 100px;
}
.welcome .description p {
    font-size: 20px;
}

.welcome .timer {
    padding-bottom: 50px
}

.ldBar-label {
    color: #006064;
}

.ldBar-label::after {
    content: "";
    margin-left: 5px;
}
.workshop {
    position: relative;
    margin-bottom: 100px
}
.workshop img {
    width: 90%;
    height: 200px;
    margin: auto;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 4px 14px black;
    z-index: 2;
}

.workshop p {
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    right: 0;
    display: inline-block;
    font-size: 18px;
    padding: 7px 0px 0px;
    z-index: -1;
    font-weight: 600
}

.workshop span {
    padding: 5px 21px;
}

.speakers-section {
    position: relative;
    margin: 100px 0;
    padding: 0;
}
.speakers-section .title{
    position: absolute;
    display: inline;
    left: 0;
    right: 0;
    top: 0px;
    text-align: center;
}
.speakers-section .title div {
    position: relative;
    display: inline-block;
    background-color: white;
}
.speakers-section .title h1 {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 40px;
    padding: 0px 40px;
    margin: 0;
    
}
.speakers {
    margin-bottom: 20px;
}

.speakers .title p{
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 2px;
}
.speakers .title {
    padding: 40px 0px 50px;
}

.speakers .speaker {
    width: 70%;
    margin: auto
}
.speakers .speaker img {
    box-shadow: 0px 10px 5px rgba(0,0,0,0.1);
    margin: auto;
    margin-bottom: 10px;
    height: 300px;
    object-fit: cover;
    object-position: top center;
}
.register {
    padding: 60px 0 30px;
}
.register .container .btn {
    border-radius: 0;
    box-shadow: 1px 10px 14px rgba(0,0,0,0.5);
}
.register .container p:first-child {
    font-size: 65px;
    margin: 0;
    padding: 10px;
}

.footer {
    position: relative;
    padding: 40px 0px 20px;
}
#goTopBtn {
    position: absolute;
    display: inline;
    padding: 7px 10px;
    line-height: 0;
    letter-spacing: 0;
    margin: 0;
    top:-14px;
    left: calc(50% - 20px);
    transform: rotate(45deg);
}
#goTopBtn i {
    padding: 0;
    margin: 0;
}
.separator-margin{
    height: 100px;
}
hr {
    padding: 0;
    margin: 0;
    margin-bottom: 1px;
}


hr.alt {
    margin-bottom: 0px;
}

.my-text-green {
    color: rgb(2, 102, 102);
    border-color: rgb(2, 102, 102)
}
a.my-text-green:hover {
    color: rgb(0, 96, 100);
}
a.my-text-green:active {
    color: rgb(0, 96, 100);
}
.my-text-light-green {
    color: rgba(113, 176, 45, 1);
    border-color: rgba(113, 176, 45, 1);
}
a.my-text-light-green:hover {
    color: rgb(94, 145, 50);
}
a.my-text-light-green:active {
    color: rgb(94, 145, 50);
}


.my-bg-green {
    background-color: rgb(2, 102, 102);
    border-color: rgb(2, 102, 102)
}
a.my-bg-green:hover {
    background-color: rgb(0, 96, 100);
}
a.my-bg-green:active {
    background-color: rgb(0, 96, 100);
}
.my-text-blue {
    color: rgb(19, 117, 156);
    border-color: rgb(19, 117, 156);
}
a.my-text-blue:hover {
    color: rgb(12, 75, 100);
}
a.my-text-blue:active {
    color: rgb(12, 75, 100);
}
.my-bg-light-green {
    background-color: rgba(113, 176, 45, 1);
    border-color: rgba(113, 176, 45, 1);
}
a.my-bg-light-green:hover {
    background-color: rgb(94, 145, 50);
}
a.my-bg-light-green:active {
    background-color: rgb(94, 145, 50);
}