.contact {
    margin-bottom: 60px;
    min-height: calc(55vh - 100px);
}
.contact div {
    width: 280px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    padding: 30px 20px 40px;
    letter-spacing: 1px;
}
.contact div p{
    margin: 0;
    padding: 0;
    line-height: 23px;
    font-size: 16px;
    opacity: 0.9;
}
.contact hr {
    margin: 12px 0;
    position: relative;
    height: 1px;
    background: linear-gradient(to right,rgba(255,255,255, 0.1), rgba(255,255,255,1), rgba(255,255,255,1),rgba(255,255,255, 0.1));
}