.container {
    max-width: 1024px;
}
.section {
    position: relative;
    margin: 10px 0px 60px;
}
.section div {
    /* background: white */
}
.section p {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0px;
}
.section {
    margin-top: 60px;
    margin-bottom: 100px;
    position: relative;
    height: 20px;
}
.section .container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    top: -10px;
    text-align: center;
    /* border: 1px solid red; */
}

.section .container p {
    padding: 0px 40px;
    font-weight: 600;
    margin: 0px;
    font-size: 40px;
    line-height: 40px;
    display: inline-block;
    max-width: 80%;
    min-width: 70%;
    background: white
}
.form-row {
    position: relative;
    width: 100%;
    padding-bottom: 15px;
}
.form-label {
    width: 20%;
    font-size: 12px;
    font-weight: 600;
    padding-left: 20px;
    color: rgb(88, 89, 91);
    vertical-align: middle;
}
.form-input {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}

.input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
.input {
    display: inline-block;
    font-size: 11px;
    line-height: 11px;
    /* font-weight: 800; */
    color: rgb(0, 0, 0);
    padding: 7px 17px;
    margin-right: 10px;
    letter-spacing: normal;
    border: 1px solid rgba(0, 0, 0, 0.103);
    background: rgba(2, 102, 102, 0.05);
    border-radius: 4px;
    box-shadow: none;
}
.form-row select  {
    color: rgb(0, 0, 0);
    width: 25%;
    font-size: 11px;
    line-height: 11px;
    /* font-weight: 100; */
    padding: 7px 17px;
    margin-right: 10px;
    letter-spacing: normal;
    border: 1px solid #00BFA5;
    background: white;
    border-radius: 4px;
    box-shadow: none;
    position: relative;
}

.input.single {
    width: 30%;
}
.input.double {
    width: calc(60% + 10px);
}
.input-file {
    color: rgba(0, 0, 0, 0.5);
    width: 40%;
    font-size: 11px;
    line-height: 11px;
    font-weight: 100;
    padding: 7px 17px;
    margin-right: 10px;
    letter-spacing: normal;
    border: 1px solid #00BFA5;
    background: white;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    position: relative;
}
.input-file::before {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    width: 1px;
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% - 30px);
}
.input-file::after {
    content: "+";
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    line-height: 11px;
    font-weight: 100;
    position: absolute;
    top: calc(50% - 5.5px);
    right: 10px;
    font-weight: 600;
}
.input-file span {
    display: inline-block;
    width: 100%;
}

.form-input .radios {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 11px;
    line-height: 11px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}

.form-input .radios .fa {
    background-color: rgba(88, 89, 91, 0.5);
    padding: 3px 5px;
    border-radius: 50%;
    color: white;
}
.form-input .radios .radio {
    margin-bottom: 5px;
    cursor: pointer;
}

.form-input .radios .active .fa {
    background-color: rgba(2, 102, 102, 1);
}

.form-input label {
    font-weight: 600;
    font-size: 11px;
    line-height: 11px;
    vertical-align: middle;
    padding-right: 30px;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
}

.form-input label input[type=radio] {
    visibility: hidden;
    position: absolute;
}
.form-input label input[type=checkbox] {
    visibility: hidden;
    position: absolute;
}
.form-input label .check {
    position: absolute;
    height: 11px;
    width: 11px;
    line-height: 0;
    left: 0;
    border-radius: 50%;
    background: white;
    border: 1px solid #00BFA5;
}
.form-input label .checkbox {
    position: absolute;
    height: 11px;
    width: 11px;
    line-height: 0;
    left: 0;
    border-radius: 2px;
    background: white;
    border: 1px solid rgb(19, 117, 156);
}
.form-input label .check::after {
    content: "";
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    left: 2px;
    background-color: #00BFA5;
    border-radius: 50%;
    display: none;
}
.form-input label .checkbox::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: solid white;
    background: rgb(19, 117, 156);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.form-input label input[type=radio]:checked ~ .check::after {
    display: block;
}
.form-input label input[type=checkbox]:checked ~ .checkbox::after {
    display: block;
}
.form-input label input[type=checkbox]:checked ~ .checkbox {
    background: rgb(19, 117, 156);
}
.sub-text {
    padding-bottom: 30px;
}
.sub-text p {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 22px;
    opacity: 0.8;
}

.form-row .form-input button[type=submit] {
    font-size: 11px;
    line-height: 11px;
    padding: 7px 28px;
    background-color: rgb(113, 176, 45);
    border: none;
    font-weight: 600;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    border-radius: 2px;
}

.form-row .form-input button[type=submit]:hover {
    background-color: rgb(85, 128, 40);
}

.form-row .form-input span {
    font-style: italic;
    font-size: 14px;
    opacity: 0.5;
}
.red{
    color: red;
}
.tab {
  border-collapse: collapse;
  width: 100%;
}

.rowsby {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.lines:nth-child(even) {
  background-color: #dddddd;
}
#laderfull{
    position: fixed;
    z-index: 100;
    background: #000000e6;
    width: 100%;
    height: 100%;
    top: 0;
}
.loaderReq {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #006164;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 2% auto;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}