.program {
    background-color: rgba(113, 176, 45, 0.1);
    margin: 40px 0px 60px;
    position: relative;
}
#day1::before {
    content: "Morning";
    position: absolute;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 50px;
    top: calc(2% - 18px);
    left: 0;
    right: 26%;
    font-weight: bold;
    text-align: center;
    color: rgb(156, 200, 108);
}
#day2::before {
    content: "Morning";
    position: absolute;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 50px;
    top: calc(12% - 24px);
    left: 0;
    right: 26%;
    font-weight: bold;
    text-align: center;
    color: rgb(156, 200, 108);
}
#day1::after,#day2::after {
    content: "Afternoon";
    top: calc(67% - 25px);
    position: absolute;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    bottom: 20px;
    left: 0;
    right: 28%;
    font-weight: bold;
    text-align: center;
    color: rgb(156, 200, 108);
}
.program .container ul {
    margin: 0;
    border-left: 2px solid #cccccc;
    width: 60%;
    margin-left: 40%;
}
.program .container ul li {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    opacity: 0.9;
    letter-spacing: 0.5px;
    text-align: justify;
}
.program .container ul li .list-bullet {
    position: absolute;
    top: 2.5px;
    width: 15px;
    height: 15px;
    left: -8.5px;
    border: 1px solid rgba(113, 176, 45, 1);
    border-radius: 50%;
    background: white;
}
.program .container ul li .list-bullet::after { 
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: rgba(113, 176, 45, 1);
    border-radius: 50%;
}
.program .container ul li:first-child {
    padding-top: 10px;
    padding-bottom: 20px;
}
.program .container ul li:last-child{
    padding-bottom: 20px;
}

.program .container ul li:first-child .list-bullet {
    top: 12.5px;
}
.smallText{
    margin-left: 60px;
    font-size: 13px;
}