.register-page {
    padding: 50px 0px 200px;
    position: relative;
}


.register-page form label {
    position: relative;
    display: block;
    font-weight: 600;
    margin-bottom: 50px;
    font-size: 17px;
    line-height: 24px;
    padding-left: 10px;
}
.register-page form label::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    left: 0px;
    background-color: #7CB342;
}
.register-page form select {
    box-shadow: none;
    border: none;
    border: 1px solid #00ACC1;
    border-radius: 2px;
    padding: 7px 21px;
    text-transform: uppercase;
    color: #999;
    font-weight: 600;
    background: white;
    width: 80%;
    margin-bottom: 80px;
    font-size: 14px;
}

.register-page form button {
    padding: 7px 51px;
    font-weight: 600;
    font-size: 12px;
}

.register-page .form {
    position: relative;
    width: 40%;
    margin: auto;
}