.page-title {
    margin-bottom: 0px;
}.page-title p {
    margin-bottom: 0px;
}
.my-tab {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: calc(50% - 3px);
    padding: 40px 0;
    font-weight: 600;
    font-size: 25px;
    position: relative;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.my-tab p {
    margin: 0;
    word-wrap: none;
    word-break: keep-all;
}
.my-tab.active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: rgba(113, 176, 45, 1);
}
.my-tab:first-child.active {
    box-shadow: 2px 0px 2px #cccccc;
    background: #a4d9e4;
}
.my-tab:last-child.active {
    box-shadow: -2px 0px 2px #cccccc;
    background: #a4d9e4;
}
div.data-toggle {
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}
.my-tab ul {
    padding: 0px 60px;
    position: relative;
}
.my-tab ul li {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: lighter;
    letter-spacing: -1px;
    opacity: 0.7;
    word-wrap: none;
    word-break: keep-all;
}
.my-tab ul li:first-child {
    line-height: 24px;
}
.my-tab ul li:nth-child(2) {
    font-weight: 600;
}
.my-tab ul .list-divider {
    width: 70px;
    background: linear-gradient(to right,rgba(0,0,0, 0.1), rgba(0,0,0,0.3), rgba(0,0,0,0.3),rgba(0,0,0, 0.1));
    margin: 5px 0;
    height: 1px;
}
.my-tab ul .li-fill {
    width: inherit;
    height: 20px;
}
.my-tab ul li.sponsor {
    position: absolute;
    width: 120px;
    bottom: 0px;
    right: 30px;
}
/* screen 768 */
@media (min-width: 768px) and (max-width: 1023px){
    .my-tab ul li {
        margin: 0;
        font-size: 15px;
        line-height: 15px;
    }
}