
.rwanda-tab .rwanda-tab-header {
    position: relative;
    margin-bottom: 40px;
    box-shadow: 0px 4px 4px #666666;
}
.rwanda-tab .rwanda-tab-header img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    
}
.rwanda-tab .rwanda-tab-header p{
    position: absolute;
    left: 0;
    right: 0;
    font-size: 150px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 150px;
    top: calc(50% - 75px);
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.rwanda-tab .container .lead {
    font-weight: 100;
    opacity: 0.8;
    margin-bottom: 40px;
}
.rwanda-tab .rwanda-details div {
    display: inline-block;
    width: calc(50% - 3px);
    vertical-align: top;
    margin-bottom: 40px;
}
.rwanda-tab .highlights ul{
    list-style-type: square;
    padding: 17px;
}
.rwanda-tab .vaccines {
    margin-bottom: 40px;
}
.rwanda-tab .vaccines p {
    margin-bottom: 0;
    font-size: 15px;
}
.visa-tab {
    margin: 60px 0px 100px;
    padding: 0px 20px;
}
.visa-tab .container p {
    margin-bottom: 0px;
    font-size: 19px;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
}
.visa-tab .container div {
    margin-bottom: 30px;
}

.visa-tab .container a {
    padding-left: 30px;
    padding-right: 30px;
}