.tab-toggle .container {
    max-width: 1024px;
}
.tab-toggle .container img {
    width: 100%;
    box-shadow: 0px 4px 4px #cccccc;
    margin-bottom: 40px;
    max-height: 500px;
    object-fit: cover;
    object-position: bottom center;
}

.tab-toggle .container p {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-align: justify;
}
.tab-toggle .container div {
    margin-bottom: 40px;
}

.kcc-title {
    margin-top: 60px;
    margin-bottom: 100px;
    position: relative;
    height: 20px;
}
.kcc-title .container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    top: -10px;
    text-align: center;
    /* border: 1px solid red; */
}

.kcc-title .container p {
    padding: 0px 40px;
    font-weight: 600;
    margin: 0px;
    font-size: 40px;
    line-height: 40px;
    display: inline-block;
    max-width: 80%;
    min-width: 70%;
    background: white
}
